<fieldset class="govuk-fieldset" aria-describedby="basic-hint basic-error">

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-heading-l">
            Basic details and contact
        </h1>
    </legend>
    <span id="basic-hint" class="govuk-hint">
        Please add your name and contact details.
    </span>
    <div class="">
        <label class="govuk-label" for="contact_name">
            Primary contact full name
        </label>
        <span id="contact_name-error" class="govuk-error-message hide">
            Enter the name of the Primary Contact
        </span>
        <input data-required="true" class="govuk-input govuk-input--width-20" id="contact_name"
            name="contact_name" type="text" value="" required>
    </div>
    <br />
    <div class="">
        <label class="govuk-label" for="contact_phone">
            Primary contact telephone number
        </label>
        <span id="contact_phone-error" class="govuk-error-message hide">
            Enter the contact phone number
        </span>
        <input data-required="true" class="govuk-input govuk-input--width-20" id="contact_phone" name="contact_phone" type="text"
            value="" required>
    </div>
    <br />
    <div class="">
        <label class="govuk-label" for="contact_email">
            Primary contact email address
        </label>
        <span id="contact_email-error" class="govuk-error-message hide">
            Enter the contact email
        </span>
        <input data-required="true" class="govuk-input govuk-input--width-20" id="contact_email" name="contact_email" type="text"
            value="" pattern="^([A-Za-z0-9_\-.])+@([A-Za-z0-9_\-.])+\.([A-Za-z]{2,4})$" required>
    </div>
</fieldset>

<br />