{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% set groupClass = "govuk--form-group" %}
{% if errors["is-clinical"] %}
{% set groupClass = groupClass + " govuk--form-group--error" %}
{% endif %}


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="is-clinical-hint">

    
    {% call govukFieldset({
      legend: {
        text: "Supply chain experience",
        classes: "govuk-fieldset__legend--l",
        isPageHeading: true
      }
    }) %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "is-clinical",
  name: "is-clinical",
  fieldset: {
    legend: {
      text: " 2. Do you already produce regulated ventilators that are used in a UK clinical setting
      i.e. Medicines and Healthcare Products Regulatory Agency (MHRA), approved with a CE mark?",
      isPageHeading: false,
      classes: "govuk-body-l"
    }
  },
  errorMessage: {
    text: errors["is-clinical"].text
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}
<p class="govuk-body">3. Have you made parts or systems for ventilators:</p>
{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "human-use",
  name: "human-use",
  fieldset: {
    legend: {
      text: "for human use in clinical setting?",
      isPageHeading: false,
      classes: "govuk-hint"
    }
  },
  errorMessage: {
    text: errors["human-use"].text
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "vet-use",
  name: "vet-use",
  fieldset: {
    legend: {
      text: "for use in veterinary setting?",
      isPageHeading: false,
      classes: "govuk-hint"
    }
  },
  errorMessage: {
    text: errors["vet-use"].text
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}
{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "other-use",
  name: "other-use",
  fieldset: {
    legend: {
      text: "use in any other setting?",
      isPageHeading: false,
      classes: "govuk-hint"
    }
  },
  errorMessage: {
    text: errors["other-use"].text
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}
{% endcall %}


<br/>



    <div class="govuk-form-group">
      <label class="govuk-label" for="ventilator-detail">
        If you answered yes to any of the above, please provide further details.
      </label>
      <span id="ventilator-detail-hint" class="govuk-hint">
      </span>
      <textarea class="govuk-textarea" id="ventilator-detail" name="ventilator-detail" rows="5"
        aria-describedby="ventilator-detail-hint"></textarea>
    </div>

    <span id="devices-hint" class="govuk-hint">
      4. Please indicate whether you design, manufacture or supply any of the following medical devices or component
      parts and, if so, where. (optional)
    </span>
    <table class="govuk-table">
      <caption class="govuk-table__caption"></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Category</th>
          <th scope="col" class="govuk-table__header">Design</th>
          <th scope="col" class="govuk-table__header">Manufacture</th>
          <th scope="col" class="govuk-table__header">Supply</th>
          <th scope="col" class="govuk-table__header">Location</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for item in devices %}
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{ item.text }}</th>

          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="design-{{ loop.index }}" name="design" type="checkbox"
                value="{{ item.name }}" aria-label="design-{{ loop.index }}">
              <label class="govuk-label govuk-checkboxes__label" for="design-{{ loop.index }}">
                &nbsp;
              </label>
              
            </div>
          </td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="manufacture-{{ loop.index }}" name="manufacture"
                type="checkbox" value="{{ item.name }}" aria-label="manufacture-{{ loop.index }}">
              <label class="govuk-label govuk-checkboxes__label" for="manufacture-{{ loop.index }}">
                &nbsp;
              </label>
            </div>
          </td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="supply-{{ loop.index }}" name="supply" type="checkbox"
                value="{{ item.name }}" aria-label="supply-{{ loop.index }}">
              <label class="govuk-label govuk-checkboxes__label" for="supply-{{ loop.index }}">
                &nbsp;
              </label>
            </div>
          </td>
          <td class="govuk-table__cell">
            <select class="govuk-select" name="location-{{ loop.index }}" aria-label="location-{{ loop.index }}">
              <option value="" selected></option>
              <option value="1">in the UK</option>
              <option value="2">in Europe</option>
              <option value="3">in rest of world</option>
            </select>
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>

  </fieldset>
</div>