{% from "govuk/components/input/macro.njk" import govukInput %}

{% set orgNameClass = "govuk-input--width-20" %}



<fieldset class="govuk-fieldset" aria-describedby="basic-hint basic-error">

  {{ govukInput({
    label: {
    text: "1. Add the name and contact details for your company."
    },
    classes: orgNameClass,
    id: "organisation-name",
    name: "organisation-name",
    value: values["organisation-name"],
    errorMessage: errors["organisation-name"]
  }) }}
  
  {{ govukInput({
    label: {
      text: "Company number (optional)"
    },
    classes: "govuk-input--width-20",
      id: "company-number",
      name: "company-number"
  }) }}

  {{ govukInput({
    label: {
    text: "Primary contact full name"
    },
    classes: "govuk-input--width-20",
    id: "primary-contact",
    name: "primary-contact",
    value: values["primary-contact"],
    errorMessage: errors["primary-contact"]
  }) }}

  {{ govukInput({
    label: {
    text: "Primary contact role at organisation"
    },
    classes: "govuk-input--width-20",
    id: "primary-contact-role",
    name: "primary-contact-role",
    value: values["primary-contact-role"],
    errorMessage: errors["primary-contact-role"]
  }) }}

  {{ govukInput({
    label: {
    text: "Primary contact telephone number"
    },
    classes: "govuk-input--width-20",
    id: "phone",
    name: "phone",
    value: values["phone"],
    errorMessage: errors["phone"]
  }) }}
  {{ govukInput({
    label: {
    text: "Primary contact email address"
    },
    classes: "govuk-input--width-20",
    id: "email",
    name: "email",
    pattern: "^([A-Za-z0-9_\-.])+@([A-Za-z0-9_\-.])+\.([A-Za-z]{2,4})$",
    value: values["email"],
    errorMessage: errors["email"]
  }) }}

</fieldset>

<br />