{% extends "layout.html" %}
{% block header %}
{{ govukHeader({
  homepageUrl: "/error"
}) }}
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Register form
    </h1>

    <p class="govuk-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
      ut aliquip ex ea commodo consequat. 
    </p>

    <p class="govuk-body">There is one main section:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Basic details and contact</li>
  

    </ul>
    <!-- <p>
    Screen reader support enabled.
  </p> -->
  </div>
  <div class="govuk-grid-column-full">
    <form id="" action="submit" method="post" class="form">


      <div class="govuk-error-summary hide" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
        data-module="error-summary">
        <h2 class="govuk-error-summary__title " id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
          </ul>
        </div>
      </div>


      <div class="govuk-form-group">


        {% include "includes/form_core.html" %}


        <br />
        <br />
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">By submitting this form, you agree to the information you share about your
              organisation being used by&hellip;
              and their delivery partners in relation to this initiative,
              and to our <a href="privacy">privacy notice</a>.</p>
            <br />
            <button class="govuk-button" data-module="govuk-button">
              Submit
            </button>
          </div>
        </div>


      </div>

    </form>

  </div>



</div>

{% endblock %}