{% extends "layout.html" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}


{% block header %}
{% endblock %}

{% set pageTitle = "This form is no longer accepting applications" %}
{% block pageTitle %}{{ "Error: " if errors }}{{ pageTitle }} - GOV.UK{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errorSummary.length > 0 %}
    {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errorSummary
    }) }}
    {% endif %}
    <h1 class="govuk-heading-xl">
      This form is no longer accepting applications
    </h1>

    <p class="govuk-body-l">Thank you very much for your offer of support for the Government effort to address the increased need for ventilators as a result of COVID-19. If you wish to get in touch regarding existing ventilator stock, please contact <a href="mailto:existing.ventilators@dhsc.gov.uk">existing.ventilators@dhsc.gov.uk</a>.
    </p>
    <p class="govuk-body">If you wish to make a different offer of support, please go to <a href="https://www.gov.uk/coronavirus-support-from-business">https://www.gov.uk/coronavirus-support-from-business</a>.
    </p>

    <p class="govuk-body">We have and continue to receive a large volume of offers so regret that we cannot respond to each one. We will be matching requirements to the most relevant offers of support and will reach out to individual companies when the need arises.</p>

    <p class="govuk-body">Thank you for your offer of support. </p>

  </div>




</div>

{% endblock %}