{% extends "layout.html" %}

{% set pageTitle = "Readiness to supply ventilators and ventilator components" %}

{% block header %}
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

<a href="javascript:window.history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">This form is no longer accepting applications</h1>
                <p class="govuk-body">If you would like to offer your support to the government in other ways as part of the response to COVID-19, please go to <a class="govuk-link"href="/">[URL TBC].</a></p>
            </div>
        </div>
    </main>
</div>

{% endblock %}
